@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<style>
    .sub-title{
        color: blue;
    }
    .myHover {
        text-decoration: none;
        transition: text-decoration 0.3s ease-in-out, border 0.3s ease-in-out;
    }

    .myHover:hover {
        text-decoration: underline;
        border: 1px solid;
    }
    .mytip{
        background: red;
        color: white;
        /*padding: 2px;*/
        font-size: small;
    }
</style>
<div id="loading" class="d-flex align-items-center d-none">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<div id="actList" class="d-none">
    <div>
        <table class="table" id="gv">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="d-none"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date and number of vailable tickets</th>
                </tr>
            </thead>
            <tbody id="gvBody">
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" onclick="查詢活動();">查詢活動</button>
        @*<button type="button" onclick="查詢購物車();">查詢購物車</button>*@
    </div>
</div>
<div id="actDetail" class="d-none">
    <div>
        <label class="sub-title">Title</label>
        <div id="actDetailTitle"></div>
    </div>
    <div>
        <label class="sub-title">Description</label>
        <div id="actDetailDescription"></div>
    </div>
    <div>
        <label class="sub-title">date</label>
        <select id="selDates" onchange="selDatesSelectChange();">
        </select>
    </div>
    <div>
        <label class="sub-title">number of vailable tickets</label>
        <div id="actDetailCount"></div>
    </div>
    <div>
        <label class="sub-title">您的購物車已有數量</label>
        <div id="actDetailCurByCount"></div>
    </div>
    <div>
        <label class="sub-title">buy tickets</label>
        <input type="number" id="actDetailInputBuyNumber" />
    </div>
    <div>
        <button type="button" onclick="加入購物車();">加入購物車</button>
    </div>
</div>
<div id="cart" class="d-none">
    <div>
        <table class="table" id="gvCart">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="d-none"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">number of vailable tickets</th>
                </tr>
            </thead>
            <tbody id="gvCartBody">
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" onclick="查詢購物車();">查詢購物車</button>
        <button type="button" onclick="結帳();">結帳</button>
    </div>
</div>
<!--付款清單-->
<div id="paids" class="d-none">
    <div>
        <table class="table" id="gvPaids">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="d-none"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Dates</th>
                    <th scope="col">paidDate</th>
                    <th scope="col">isSendEmail</th>
                </tr>
            </thead>
            <tbody id="gvPaidsBody">
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" onclick="查詢付款();">查詢付款</button>
    </div>
</div>
@section Scripts {
    <script>
        var pageArr = [];
        pageArr.push($("#actList"));
        pageArr.push($("#actDetail"));
        pageArr.push($("#cart"));
        pageArr.push($("#paids"));

        function goPanelId(id) {
            for (let i = 0; i < pageArr.length; i++) {
                if (!pageArr[i].hasClass("d-none")) {
                    pageArr[i].addClass("d-none");
                }
            }
            $(id).removeClass("d-none");
        }
        $(document).ready(async function() {
            goPanelId("#actList");
            await 查詢活動();
            addLink("查詢活動", "查詢活動();");
            addLink("查詢購物車", "查詢購物車();");
            addLink(`查詢購物車 <span id="cart-count" class="mytip"></span>
                `, "查詢購物車();");
            addLink("查詢付款", "查詢付款();");
            updateCartCount();
        });

        function fn_showLoading(loadingElement, contentElement) {
            $(loadingElement).removeClass('d-none');
            $(contentElement).addClass('d-none');
        }

        // Function to hide loading indicator
        function fn_hideLoading(loadingElement, contentElement) {
            $(loadingElement).addClass('d-none');
            $(contentElement).removeClass('d-none');
        }

        function showloading(panelId){
            fn_showLoading("#loading", panelId)
        }
        function hideLoading(panelId){
            fn_hideLoading("#loading" , panelId)
        }
    </script>
    <!--actList-->
    <script>
        async function 查詢活動() {
            goPanelId("#actList");
            showloading("#actList")
            const datas = await getActList();
            const $gvBody = $("#gvBody");
            $gvBody.empty();
            datas.forEach(function(item) {
                const dates = item.dates.replace(/,/g, '<br>');
                const id = item.id;
                const $tr = $(`
                            <tr class="myHover" onclick="fillDetail(${id});">
                                <th scope="col" class="rowNumber">${item.rowNumber}</th>
                                <th scope="col" class="id d-none">${id}</th>
                                <td class="title">${item.title}</th>
                                <th class="description">${item.description}</th>
                                <th class="dates">${dates}</th>
                            </tr>
                        `);
                $gvBody.append($tr);
            });
            hideLoading("#actList")
        }
        async function getActList() {
            let data = [];
            data = await apiGet("act", "getActList", {});
            return data;
        }

    </script>
    <!--actDetail-->
    <script>
        async function fillDetail(id) {
            goPanelId("#actDetail");
            showloading("#actDetail")
            let data = await getActDetail(id);
            $("#actDetailTitle").text(data.title);
            $("#actDetailDescription").text(data.description);

            const ddlData = await getDDlActDates(id);
            ddlIn("#selDates", ddlData, true);
            $("#actDetailInputBuyNumber").val("");
            hideLoading("#actDetail")
        }
        async function getActDetail(id) {
            let data = {};
            data = await apiGet("act", "getActDetail", { id: id });
            return data;
        }
        async function getDDlActDates(id) {
            let data = [];
            data = await apiGet("act", "getDDlActDates", { id: id });
            return data;
        }
        async function selDatesSelectChange(){
            const id = $("#selDates").val();

            showloading("#selDates")
            const count = await getTicketCount(id);
            $("#actDetailCount").text(count);

            const curBuyCount = await getCurBuyCount(id);
            $("#actDetailCurByCount").text(curBuyCount);
            hideLoading("#selDates")
        }
        async function getTicketCount(id) {
            if (!id) return "";

            let data;
            data = await apiGet("act", "getTicketCount", { id: id });
            return data;
        }

        async function 加入購物車() {
            const count = $("#actDetailInputBuyNumber").val();
            const id = $("#selDates").val();
            if(!id){
                alert("請選擇日期");
                return;
            }
            const addResult = await postAddToTempCart(id, count);
            if (!addResult.success) {
                alert(addResult.message);
                return;
            }
            alert("成功加入購物車");
            await updateCartCount();
            await 查詢活動();
        }
        async function postAddToTempCart(id, count) {
            let data = {};
            data = await apiPost("cart", "postAddToTempCart", { id: id, count: count });
            return data;
        }
        async function getCurBuyCount(id){
            if (!id) return "";

            let data;
            data = await apiGet("cart", "getCurBuyCount", { id: id});
            return data;
        }
    </script>
    <!--cart-->
    <script>
        async function 查詢購物車() {
            goPanelId("#cart");
            showloading("#cart");
            const $gvBody = $("#gvCartBody");
            const datas = await getCartList();
            $gvBody.empty();
            datas.forEach(function(item) {
                const id = item.id;
                const $tr = $(`
                            <tr onclick="">
                                <td class="operation">
                                    <button type='button' class="btn btn-danger" onclick="delCart(${id})">刪除</button>
                                </td>
                                <td scope="col" class="id d-none">${id}</td>
                                <td class="title">${item.title}</td>
                                <td class="description">${item.description}</td>
                                <td class="date">${item.date}</td>
                                <td class="count">${item.count}</td>
                            </tr>
                        `);
                $gvBody.append($tr);
            });
            hideLoading("#cart");
        }
        async function getCartList() {
            let data = [];
            data = await apiGet("cart", "getCartList", {});
            return data;
        }
        async function delCart(id) {
            if (!confirm("確定刪除?")) {
                return;
            }
            const data = await postDeleteCart(id);
            if (!data.success) {
                alert(data.message);
                return;
            }

            alert("delete 成功");
            await updateCartCount();
            await 查詢購物車();
        }
        async function postDeleteCart(id) {
            let data = {};
            data = await apiPost("cart", "postDeleteCart", {id:id});
            return data;
        }
        async function 結帳(){
            alert("結帳");
            const data = await postPaid();
            if (!data.success) {
                alert(data.message);
                return;
            }

            alert("結帳成功，已將購買票卷寄到您的信箱");
            await updateCartCount();
        }
        async function postPaid(){
            let data = {};
            data = await apiPost("cart", "postPaid", {});
            return data;
        }
        async function updateCartCount(){
            const datas = await getCartList();
            var s = datas.length;
            if(s==0){
                $("#cart-count").text("");
            }else{
                $("#cart-count").text(s);
            }
        }
    </script>
    <!--paids-->
    <script>
        async function 查詢付款() {
            goPanelId("#paids");
            showloading("#paids");
            const $gvBody = $("#gvPaidsBody");
            $gvBody.empty();
            const datas = await getPaidsList();
            datas.forEach(function(item) {
                const id = item.id;
                const dates = item.dates.replace(/,/g, '<br>');
                const sendEmail = 
                    item.sendEmail === 0 ? '未寄信' 
                    : item.sendEmail === 1 ? '已寄信' 
                    : '未知';

                const $tr = $(`
                            <tr>
                                <td><button onclick="reSendEmail(${id});" class="btn btn-secondary">重新寄信</button></th>
                                <td class="d-none">${id}</td>
                                <td class="title">${item.title}</td>
                                <td class="description">${item.description}</td>
                                <td class="dates">${dates}</td>
                                <td class="paidDate">${item.payDate}</td>
                                <td class="isSendEmail">${sendEmail}</td>
                            </tr>
                `);
                $gvBody.append($tr);
            });
            hideLoading("#paids");
        }
        async function getPaidsList() {
            let data = [];
            data = await apiGet("paids", "getPaidsList", {});
            return data;
        }
        async function reSendEmail(id) {
            let data = {};
            data = await apiPost("paids", "reSendEmail", { id: id });
            if(data.success){
                alert("已重新寄信，請等一下再查信箱，是否有寄信");
                查詢付款();
                return;
            }else{
                alert("發生錯誤 " + data.message);
            }
            return data;
        }
    </script>
}
